.border-radius {
  border-radius: 30px;
}

.btn-login {
  background-color: #3e4684;
  color: white; 
  border-radius: 30px;
  border: 1px solid transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px;
}

.gradient-custom-3 {
  background-color:#dde5f4;
}

.background-stripe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-color: #3e4684;
}

.sidebar{
  min-height: 100vh;
  background-color: #f1f7fe;
}

.table{
  white-space: nowrap;
  width: auto;
}

.table thead tr th {
  background-color: #f1f7fe;
  color:black;
}

.table th,
.table td {
  padding: 0.8rem;
}

.custom-right-padding{
  padding-right: 20px;
}

/* ------------------Cell Hover------------------ */
.hoverable-cell {
  position: relative;
}

.hoverable-cell::before {
  content: attr(data-details);
  position: absolute;
  top: -30px; /* Adjust this value to control the tooltip position */
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 4px;
  display: none;
}

.hoverable-cell:hover::before {
  display: block;
}
